<!DOCTYPE html>
<html>
	<head><title>:: gifr.io ::</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/font-awesome.css' />
	</head>
	<body>
		<%- body %>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script src='/javascripts/gifr.js'></script>
	</body>
</html>
